<% if @breakdown.errors.any? %>
  <% @breakdown.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit breakdown #<%= @breakdown.id %>
</h1>

<hr>

<form action="/update_breakdown/<%= @breakdown.id %>" method="post">

  <div class="form-group">
    <label for="total_id">
      Total
    </label>

    <%= select_tag(:total_id, options_from_collection_for_select(Total.all, :id, :profile_id, @breakdown.total_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="squat">
      Squat
    </label>

    <input type="text" id="squat" name="squat" class="form-control" value="<%= @breakdown.squat %>">
  </div>

  <div class="form-group">
    <label for="benchpress">
      Benchpress
    </label>

    <input type="text" id="benchpress" name="benchpress" class="form-control" value="<%= @breakdown.benchpress %>">
  </div>

  <div class="form-group">
    <label for="deadlift">
      Deadlift
    </label>

    <input type="text" id="deadlift" name="deadlift" class="form-control" value="<%= @breakdown.deadlift %>">
  </div>

  <div class="form-group">
    <label for="explained_lift_total">
      Explained lift total
    </label>

    <input type="text" id="explained_lift_total" name="explained_lift_total" class="form-control" value="<%= @breakdown.explained_lift_total %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update breakdown
  </button>
</form>

<hr>

<a href="/breakdowns">
  Go back
</a>
