<h1>
  Edit feed #<%= @feed.id %>
</h1>

<hr>

<form action="/update_feed/<%= @feed.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @feed.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="subscribed_lift_totals">
      Subscribed lift totals
    </label>

    <input type="text" id="subscribed_lift_totals" name="subscribed_lift_totals" class="form-control" value="<%= @feed.subscribed_lift_totals %>">
  </div>

  <div class="form-group">
    <label for="subscribed_lift_dates">
      Subscribed lift dates
    </label>

    <input type="text" id="subscribed_lift_dates" name="subscribed_lift_dates" class="form-control" value="<%= @feed.subscribed_lift_dates %>">
  </div>

  <div class="form-group">
    <label for="subscribed_lift_username">
      Subscribed lift username
    </label>

    <input type="text" id="subscribed_lift_username" name="subscribed_lift_username" class="form-control" value="<%= @feed.subscribed_lift_username %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update feed
  </button>
</form>

<hr>

<a href="/feeds">
  Go back
</a>
