<!-- Validation failure messages -->
<% if @total.present? %>
  <% if @total.errors.any? %>
    <% @total.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new total
</h1>


<hr>

<!-- Form total start -->
<form action="/create_total" method="post">
<!-- Form total end -->

  <!-- Label and input for profile_id start -->
  <div class="form-group">
    <label for="profile_id">
      Profile
    </label>

    <!-- Input for profile_id start -->
    <%= select_tag(:profile_id, options_from_collection_for_select(Profile.all, :id, :user_id, @total.profile_id), :class => "form-control") %>
    <!-- Input for profile_id end -->
  </div>
  <!-- Label and input for profile_id end -->

  <!-- Label and input for feed_id start -->
  <div class="form-group">
    <label for="feed_id">
      Feed
    </label>

    <!-- Input for feed_id start -->
    <%= select_tag(:feed_id, options_from_collection_for_select(Feed.all, :id, :user_id, @total.feed_id), :class => "form-control") %>
    <!-- Input for feed_id end -->
  </div>
  <!-- Label and input for feed_id end -->

  <!-- Label and input for lift_total start -->
  <div class="form-group">
    <label for="lift_total">
      Lift total
    </label>

    <!-- Input for lift_total start -->
    <input type="text" id="lift_total" name="lift_total" class="form-control" value="<%= @total.lift_total %>">
    <!-- Input for lift_total end -->
  </div>
  <!-- Label and input for lift_total end -->

  <!-- Label and input for lift_date start -->
  <div class="form-group">
    <label for="lift_date">
      Lift date
    </label>

    <!-- Input for lift_date start -->
    <input type="text" id="lift_date" name="lift_date" class="form-control" value="<%= @total.lift_date %>">
    <!-- Input for lift_date end -->
  </div>
  <!-- Label and input for lift_date end -->

  <!-- Label and input for subscription_id start -->
  <div class="form-group">
    <label for="subscription_id">
      Subscription
    </label>

    <!-- Input for subscription_id start -->
    <%= select_tag(:subscription_id, options_from_collection_for_select(Subscription.all, :id, :feed_id, @total.subscription_id), :class => "form-control") %>
    <!-- Input for subscription_id end -->
  </div>
  <!-- Label and input for subscription_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create total
  </button>
</form>

<hr>

<a href="/totals">
  Go back
</a>
