<% if @total.present? %>
  <% if @total.errors.any? %>
    <% @total.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new total
</h1>


<hr>

<form action="/create_total" method="post">

  <div class="form-group">
    <label for="profile_id">
      Profile
    </label>

    <%= select_tag(:profile_id, options_from_collection_for_select(Profile.all, :id, :user_id, @total.profile_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="feed_id">
      Feed
    </label>

    <%= select_tag(:feed_id, options_from_collection_for_select(Feed.all, :id, :user_id, @total.feed_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="lift_total">
      Lift total
    </label>

    <input type="text" id="lift_total" name="lift_total" class="form-control" value="<%= @total.lift_total %>">
  </div>

  <div class="form-group">
    <label for="lift_date">
      Lift date
    </label>

    <input type="text" id="lift_date" name="lift_date" class="form-control" value="<%= @total.lift_date %>">
  </div>

  <div class="form-group">
    <label for="subscription_id">
      Subscription
    </label>

    <%= select_tag(:subscription_id, options_from_collection_for_select(Subscription.all, :id, :feed_id, @total.subscription_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create total
  </button>
</form>

<hr>

<a href="/totals">
  Go back
</a>
