<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Total #<%= @total.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/totals" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/totals/<%= @total.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit total
        </a>
      </div>

      <div class="col">
        <a href="/delete_total/<%= @total.id %>" class="btn btn-block btn-outline-secondary">
          Delete total
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Profile
      </dt>
      <dd>
        <% if @total.profile.present? %>
          <a href="/profiles/<%= @total.profile_id %>">
            <%= @total.profile.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Feed
      </dt>
      <dd>
        <% if @total.feed.present? %>
          <a href="/feeds/<%= @total.feed_id %>">
            <%= @total.feed.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Lift total
      </dt>
      <dd>
        <%= @total.lift_total %>
      </dd>

      <dt>
        Lift date
      </dt>
      <dd>
        <%= @total.lift_date %>
      </dd>

      <dt>
        Subscription
      </dt>
      <dd>
        <% if @total.subscription.present? %>
          <a href="/subscriptions/<%= @total.subscription_id %>">
            <%= @total.subscription.feed_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@total.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@total.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

